<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="home-container">
        <h1 class="home-header">Bienvenido a la Página de Productos</h1>
        
        <!-- Lista de productos -->
        <ul class="home-product-list" id="product-list">
            {{#each products}}
            <li>{{this.title}} - {{this.price}}</li>
            {{/each}}
        </ul>
        
        <!-- Botón para redirigir a la página de productos en tiempo real -->
        <a href="/realtimeproducts" class="home-btn-primary">Ver Productos en Tiempo Real</a>
    </div>
</body>
</html>
